<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.victoryspace.vics.member.query.mapper.MemberQueryMapper">
    <resultMap id="MemberResultMap"
               type="com.victoryspace.vics.member.query.dto.MemberQueryDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="gradeId" column="grade_id"/>
        <result property="profile" column="profile"/>
        <result property="point" column="point"/>
        <result property="role" column="role"/>
    </resultMap>

    <resultMap id="MemberInfo"
               type="com.victoryspace.vics.member.query.dto.MemberInfoDTO">
        <id property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="gradeName" column="grade_name"/>
        <result property="gradeSymbol" column="grade_symbol"/>
        <result property="profile" column="profile"/>
        <result property="point" column="point"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="findAll" resultMap="MemberInfo">
        SELECT m.name,
               m.gender,
               m.birthday,
               m.nickname,
               m.email,
               m.created_at,
               m.updated_at,
               g.name as grade_name,
               g.symbol as grade_symbol,
               m.profile,
               m.point,
               m.role
        FROM member m
        JOIN grade g ON m.grade_id = g.id
        WHERE m.deleted_at IS NULL
    </select>

    <select id="findById" resultMap="MemberInfo">
        SELECT m.name,
               m.gender,
               m.birthday,
               m.nickname,
               m.email,
               m.created_at,
               m.updated_at,
               g.name as grade_name,
               g.symbol as grade_symbol,
               m.profile,
               m.point,
               m.role
        FROM member m
        JOIN grade g ON m.grade_id = g.id
        WHERE m.deleted_at IS NULL
        AND m.id = #{id}
    </select>

    <select id="findByNickname" resultMap="MemberInfo">
        SELECT m.name,
               m.gender,
               m.birthday,
               m.nickname,
               m.email,
               m.created_at,
               m.updated_at,
               g.name as grade_name,
               g.symbol as grade_symbol,
               m.profile,
               m.point,
               m.role
        FROM member m
        JOIN grade g ON m.grade_id = g.id
        WHERE m.deleted_at IS NULL
        AND m.nickname LIKE CONCAT('%', #{nickname}, '%')
    </select>

    <select id="findByEmail" resultMap="MemberInfo">
        SELECT m.name,
               m.gender,
               m.birthday,
               m.nickname,
               m.email,
               m.created_at,
               m.updated_at,
               g.name as grade_name,
               g.symbol as grade_symbol,
               m.profile,
               m.point,
               m.role
        FROM member m
        JOIN grade g ON m.grade_id = g.id
        WHERE m.deleted_at IS NULL
        AND email = #{email}
    </select>

    <select id="orderByPoint" resultMap="MemberInfo">
        SELECT m.name,
        m.gender,
        m.birthday,
        m.nickname,
        m.email,
        m.created_at,
        m.updated_at,
        g.name as grade_name,
        g.symbol as grade_symbol,
        m.profile,
        m.point,
        m.role
        FROM member m
        JOIN grade g ON m.grade_id = g.id
        WHERE m.deleted_at IS NULL
        <choose>
            <when test="direction == 'asc'">
                ORDER BY point ASC
            </when>
            <otherwise>
                ORDER BY point DESC
            </otherwise>
        </choose>
    </select>
</mapper>