<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.victoryspace.vics.vote.query.mapper.VoteQueryMapper">
    <resultMap id="VoteResultMap"
               type="com.victoryspace.vics.vote.query.dto.VoteQueryDTO">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="categoryId" column="category_id"/>
        <result property="memberId" column="member_id"/>
        <result property="content" column="content"/>
        <result property="challengerId" column="challenger_id"/>
        <result property="challengerContent" column="challenger_content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="duration" column="duration"/>
        <result property="endedAt" column="ended_at"/>
    </resultMap>

    <resultMap id="VoteListResponse"
               type="com.victoryspace.vics.vote.query.dto.response.VoteQueryListResponseDTO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="categoryName" column="category_name"/>
        <result property="memberNickname" column="member_nickname"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="duration" column="duration"/>
        <result property="endedAt" column="ended_at"/>
    </resultMap>

    <resultMap id="VoteDetailResponse"
               type="com.victoryspace.vics.vote.query.dto.response.VoteQueryDetailResponseDTO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="categoryName" column="category_name"/>
        <result property="memberNickname" column="member_nickname"/>
        <result property="content" column="content"/>
        <result property="challengerNickname" column="challenger_nickname"/>
        <result property="challengerContent" column="challenger_content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="duration" column="duration"/>
        <result property="endedAt" column="ended_at"/>
        <result property="homeCount" column="home_count"/>
        <result property="awayCount" column="away_count"/>
        <result property="neutralCount" column="neutral_count"/>
    </resultMap>

    <select id="findAll" resultMap="VoteListResponse">
        SELECT v.id,
               v.title,
               c.name as category_name,
               m.nickname as member_nickname,
               v.created_at,
               v.updated_at,
               v.duration,
               v.ended_at
        FROM vote v
        JOIN category c ON c.id = v.category_id
        JOIN member m ON m.id = v.member_id
        WHERE v.deleted_at IS NULL
        ORDER BY v.created_at DESC
    </select>

    <select id="findById" resultMap="VoteDetailResponse">
        SELECT
            v.id,
            v.title,
            c.name as category_name,
            m.nickname as member_nickname,
            v.content,
            ch.nickname as challenger_nickname,
            v.challenger_content,
            v.created_at,
            v.updated_at,
            v.duration,
            v.ended_at,
            COALESCE(SUM(CASE WHEN vt.content = 'home' THEN 1 ELSE 0 END), 0) AS home_count,
            COALESCE(SUM(CASE WHEN vt.content = 'away' THEN 1 ELSE 0 END), 0) AS away_count,
            COALESCE(SUM(CASE WHEN vt.content = 'neutral' THEN 1 ELSE 0 END), 0) AS neutral_count
        FROM vote v
        JOIN category c ON v.category_id = c.id
        JOIN member m ON m.id = v.member_id
        LEFT JOIN member ch ON ch.id = v.challenger_id
        LEFT JOIN voter vt ON v.id = vt.vote_id
        WHERE v.id = #{id}
        AND v.deleted_at IS NULL
        GROUP BY
            v.id

    </select>

<!--    <select id="findVoteCounts" resultType="com.victoryspace.vics.vote.query.dto.response.VoteQueryCountDTO">-->
<!--        SELECT-->
<!--            COALESCE(SUM(CASE WHEN vt.content = 'home' THEN 1 ELSE 0 END), 0) AS homeCount,-->
<!--            COALESCE(SUM(CASE WHEN vt.content = 'away' THEN 1 ELSE 0 END), 0) AS awayCount,-->
<!--            COALESCE(SUM(CASE WHEN vt.content = 'neutral' THEN 1 ELSE 0 END), 0) AS neutralCount-->
<!--        FROM vote v-->
<!--        JOIN voter vt ON v.id = vt.vote_id-->
<!--        WHERE v.id = #{id}-->
<!--    </select>-->

    <select id="findByMemberId" resultMap="VoteListResponse">
        SELECT
            v.id,
            v.title,
            c.name as category_name,
            m.nickname as member_nickname,
            v.created_at,
            v.updated_at,
            v.duration,
            v.ended_at
        FROM vote v
        JOIN category c ON c.id = v.category_id
        JOIN member m ON m.id = v.member_id
        WHERE v.member_id = #{memberId}
        AND v.deleted_at IS NULL
        ORDER BY v.created_at DESC
    </select>

    <select id="findByChallengerId" resultMap="VoteListResponse">
        SELECT
            v.id,
            v.title,
            c.name as category_name,
            m.nickname as member_nickname,
            v.created_at,
            v.updated_at,
            v.duration,
            v.ended_at
        FROM vote v
        JOIN category c ON c.id = v.category_id
        JOIN member m ON m.id = v.member_id
        WHERE v.challenger_id = #{challengerId}
          AND v.deleted_at IS NULL
        ORDER BY v.created_at DESC
    </select>

    <select id="search" resultMap="VoteListResponse">
        SELECT
            v.id,
            v.title,
            c.name AS category_name,
            m.nickname AS member_nickname,
            v.created_at,
            v.updated_at,
            v.duration,
            v.ended_at
        FROM vote v
        JOIN category c ON c.id = v.category_id
        JOIN member m ON m.id = v.member_id
        <where>
            v.deleted_at IS NULL

            <if test="title != null and title != ''">
                AND v.title LIKE CONCAT('%', #{title}, '%')
            </if>

            <if test="categoryId != null">
                AND v.category_id = #{categoryId}
            </if>

            <if test="nickname != null and nickname != ''">
                AND m.nickname LIKE CONCAT('%', #{nickname}, '%')
            </if>

            <if test="content != null and content != ''">
                AND v.content LIKE CONCAT('%', #{content}, '%')
            </if>
        </where>
        ORDER BY v.created_at DESC
    </select>
</mapper>