<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.victoryspace.vics.voter.query.mapper.VoterQueryMapper">

    <resultMap id="VoterList"
               type="com.victoryspace.vics.voter.query.dto.response.VoterListDTO">
        <id property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="memberNickname" column="member_nickname"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="content" column="content"/>
    </resultMap>

    <select id="findByVoteId" resultMap="VoterList">
        SELECT vt.id,
               vt.member_id,
               m.nickname as member_nickname,
               m.gender,
               m.birthday,
               vt.content
        FROM voter vt
        JOIN member m ON vt.member_id = m.id
        WHERE vt.vote_id = #{voteId}
    </select>

</mapper>